body {
    background-color    : #E6E6E6;
    padding-left        : 20px;
    padding-right       : 20px;
}

#Header {
    margin-left     : auto;
    margin-right    : auto;
    padding         : 5px;
}

#Header img {
    display         : block;
    margin-left     : auto;
    margin-right    : auto;
}

#Footer { 
    margin-left     : auto;
    margin-right    : auto;
    padding         : 5px;
    text-align      : center;
}

#Content input {
    width   : 80%;
}

#Content textarea {
    width   : 100%;
    height  : 60%;
}

#Menu {
    text-align  : center;
    width       : 100%;
    height      : auto;
    margin      : auto;
}

#Menu button {
    display : inline;
    width   : 100px;
    height  : 50px;
    margin  : auto;
}

#FinalURL {
    -moz-border-radius      : 5px;
    -webkit-border-radius   : 5px;
    -khtml-border-radius    : 5px;
    border-radius           : 5px;
    box-shadow              : 0px 2px 5px #000 inset
}

#FinalURL p {
    margin  : 10px;
}

.finalURL {
    background-color    : #FFD6A6;
}
.finalMsg {
    background-color    : #FF8A8A;
}

.visible {
    visibility : visible;
    opacity : 1;
}

.hidden {
    visibility : hidden;
    position: absolute;
    opacity : 0;
}
